/* src/assets/styles/base/_custom.scss  */

// Color
$color: #000;
$bgcolor: #fff;
$white: #fff;
$black: #000;

// Bootstrap
$primary: #f50;
$link-hover-color: #f70;

$navbar-light-color: $black;
$navbar-light-hover-color: $link-hover-color;
$navbar-light-active-color: $primary;
