/* src/assets/styles/base/_fonts.scss  */

html {
  font-size: calc(1rem + .33vw)
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2.5rem;
}

h4 {
  font-size: 2rem;
}

.text-secondary {
  font-size: .8rem;
  color: rgba($color: #000000, $alpha: .9)
}

/*
  Quicksand
*/

/*
@font-face {
  font-family: 'Quicksand';
  font-weight: 700;
  src: url('/assets/fonts/Quicksand-Bold.woff');
}

@font-face {
  font-family: 'Quicksand';
  font-weight: 500;
  src: url('/assets/fonts/Quicksand-Medium.woff');
}

@font-face {
  font-family: 'Quicksand';
  font-weight: 400;
  src: url('/assets/fonts/Quicksand-Regular.woff');
}

@font-face {
  font-family: 'Quicksand';
  font-weight: 300;
  src: url('/assets/fonts/Quicksand-Light.woff');
}

$quicksand: 'Quicksand', sans-serif;
*/
