/* src/assets/styles/components/_header.scss */

.header {
  .navbar-brand {
    text-transform: uppercase;
    img {
      display: inline-block;
      vertical-align: top;
    }
  }
}

/*
    Responsive
  */

@include media-breakpoint-down(sm) {
}
