// /* src/assets/styles/components/_nav.scss */

$is-active: null;

.main-nav {
	a {
		text-decoration: none;
		color: white;
		font-weight: bold;
	}

	width: 100%;
	background-color: $seafoam;
	position: fixed;
	display: flex;
	flex-direction: row;
	justify-content: space-between;

	&__title {
		line-break: auto;
		text-decoration: none;
		z-index: 1;
		&--subtitle {
			font-weight: normal;
			line-height: normal;
		}

		&--expanded {
				transform: scale(8) rotateZ(45deg);
				opacity: .2;
				transform-origin: center left;
		}	


	}

	&__menu {
		display: none;
		&[aria-expanded="true"] {
			background-color: $seafoam;
			display: flex;
			flex-direction: column;
			justify-items: space-evenly;
			position: absolute;
			top: 0;
			font-weight: bold;
			left: 0;
			width: 100%;
			height: 100vh;
			justify-content: center;
			font-size: 2rem;
			.main-nav__inner {
				padding-top: 2rem;
			}
			
		}
	}



	@include respond-to('small') {
		&__menu {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: space-evenly;
			flex-grow: .5;
		}
	}
}


.hamburger {
	z-index: 100;
	padding: 15px;
	width: auto;
	overflow: visible;
	cursor: pointer;
	display: flex;
	justify-content: center;
	position: relative;

	&__box {
		width: 40px;
		height: 25px;
	}

	&__inner {
		box-shadow: $box-shadow-light;
		top: 50%;
		cursor: pointer;
		position: absolute;
		width: 40px;
		height: 4px;
		transition-timing-function: ease;
		transition-duration: .15s;
		transition-property: transform;
		border-radius: 4px;
		background-color: #fff;

		&::before,
		&::after {
			box-shadow: $box-shadow-light;
			display: block;
			content: '';
			position: absolute;
			width: 40px;
			height: 4px;
			transition-timing-function: ease;
			transition-duration: .15s;
			transition-property: transform;
			border-radius: 4px;
			background-color: #fff;
		}

		&::before {
			top: -10px;
		}

		&::after {
			bottom: -10px;
		}

		
	}

	&[aria-pressed="true"] {
		.hamburger__inner::before {
			top: -10px;
			transform: translate3d(-8px, 0, 0) rotate(-45deg) scaleX(.7);
		}

		.hamburger__inner::after {

			transform: translate3d(-8px, 0, 0) rotate(45deg) scaleX(.7);
		}
	}
	@include respond-to('small') {

		&[aria-pressed="false"] {
				display: none;
		}			
	}

}

.tickets {
	display: flex;

	&__button {}

	@include respond-to('small') {
		display: none;
	}
}


