.single-form {
	display: inline-flex;
	width: 100%;
	&__input {
		border: $dark-thick-border;
		width:0;
		flex:1;
	}

	&__button {
		border: none;
		background-color: $color-secondary;
		color: white;
		padding: 0 1rem 0 1rem;
	}
	label {
		flex-basis: 100%;
	}
}


.single-form.with-label {
	flex-wrap: wrap;
}