/* src/assets/styles/pages/_index.scss  */

.home-page {
	margin: 0;
}


.splash {
	width: 100%;

	&__tickets {
		width: 100%;
		color: white;
		text-align: center;
		padding: 15px 0 15px;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&__events {
		display: flex;
		flex-direction: column;
		padding: 20px 0 20px;
	}



	

	&__video {
		video {
			width: 100%;
			border: $dark-thick-border;
		}
	}

	@include respond-to('small') {
		margin-left: auto;
		margin-right: auto;

		display: grid;
		grid-template-columns: 2fr .5fr 3fr;
		grid-template-rows: 1fr 4fr;
		grid-gap: 1rem;

		&__tickets {
			grid-column: 1/3;
			grid-row: 1/2;
			z-index: 10;
			padding: 0.5rem;
			cursor:pointer;
			border: $dark-thick-border;

			&:hover {
				border-color: $color-primary;
				background-color: white;
				color:$color-secondary;
			}

		}

		&__events {
			z-index: 10;
			padding: 10px;
			justify-content: space-evenlyzz;
			grid-row: 2/3;
			grid-column: 1/3;
			border: $dark-thick-border;
		}

		&__video {
			grid-row: 1/3;
			grid-column: 2/4;
			align-self: center;
			&:hover {
				z-index: 10;
			}
		}
	}


	@include respond-to('medium') {
		width: 90vw;
		&__tickets {
			grid-column: 1/2;
		}

		&__events {
			grid-column: 1/2;
		}

		&__video {
			grid-row: 1/3;
			grid-column: 2/4;
			align-self: center;
		}
	}
}



.events {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;

	&__title {
		text-align: center;

	}
	&__item {
		padding:1rem;
	}


	@include respond-to('small') {
		align-self: center;

		&__item {
			padding: 5px;
		}
	}
}

.directions {
	&__header {
		z-index: 2;
		position: relative;
		top: 2rem;
		line-height: 4rem;
		/* left: 100px; */
		/* text-align: center; */
		background: white;
		width: -webkit-fit-content;
		width: -moz-fit-content;
		width: fit-content;
		padding: 0 1rem 0 1rem;
		border: 4px solid #00394F;
		margin: auto;
	}

	&__google-map {
		width: 100%;
		height: 400px;
	}
}


.exhibitions {
	display: flex;
	flex-direction: column;

	a {
		text-decoration: none;
		color: unset;
	}

	&__header {
		text-align: center;
		padding: 1rem 0 1rem;

		@include respond-to('small') {
			z-index: 2;
			position: relative;
			top: 2rem;
			line-height: 4rem;
			/* left: 100px; */
			/* text-align: center; */
			background: white;
			width: fit-content;
			padding: 0 1rem 0 1rem;
			border: $dark-thick-border;
			margin: auto;
		}
	}

	.showcase {
		width: 100%;
		display: flex;
		flex-direction: column-reverse;

		&__info {
			width: 90%;
			top: -2rem;
			position: relative;
			margin-left: auto;
			margin-right: auto;
			padding: 1rem;
		}

		&__picture {
			width: 100%;

			img {
				height: 200px;
				width: 100%;
				display: block;
				object-fit: cover;
			}
		}



		%__arrow {
			transform-origin: left;
			transition: 500ms ease-in-out;
			transform: scaleX(0);
			position: absolute;
			width: 0;
			height: 0;
			border-top: 100px solid transparent;
			border-bottom: 100px solid transparent;
			border-left: 100px solid currentColor;

		}


		&__arrow {
			&--primary {
				@extend %__arrow;
				color: $color-primary;
			}

			&--secondary {
				@extend %__arrow;
				color: $color-secondary;
			}

			&--tertiary {
				@extend %__arrow;
				color: $color-tertiary;
			}

		}

		@include respond-to('small') {

			flex-direction: row;

			&.showcase--inverse {
				flex-direction: row-reverse;

				.showcase__info {
					text-align: right;
				}

				.showcase__arrow--inverse {
					width: 0;
					height: 0;
					transform-origin: right;
					border-right: none;
					border-bottom: 100px solid currentColor;
					border-top: 100px solid currentColor;
					border-left: 100px solid transparent;
				}

			}

			&__picture {
				position: absolute;
				z-index: -2;

				&::after {
					content: ""; // ::before and ::after both require content
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					background-image: linear-gradient(120deg, $color-primary, $color-tertiary);
					opacity: 0;
					mix-blend-mode: hard-light;

				}
			}

			&__info {
				line-height: 1;
				top: 0;
				margin: 0px;
				max-width: 50%;
				width: fit-content;
			}

			div[class^="showcase__arrow"] {

				position: relative;
			}

			//this is kind of redundent but can't figure out a more elegant solution
			&:hover {
				div[class^="showcase__arrow"] {
					transform: scaleX(1);
				}

				.showcase__picture {
					&:after {
						opacity: .5;
					}
				}

			}


		}



	}

}

.news-letter-and-schedule {
	display: flex;
	flex-direction: column;

	@include respond-to('small') {
		flex-direction: row;
		justify-content: space-around;
	}
}


.performance-and-shopping {
	max-width: 1440px;
	margin-left: auto;
	margin-right: auto;

	&__background-SVG {
		position: relative;
		height: 0;
		z-index: -10;
		transform-origin: left;
		transform: scale(1.3);
		opacity: 0.75;

		#bg_seafoam {
			mix-blend-mode: hard-light;
		}
	}

	.performance {
		// display: grid;
		// grid-template-columns: 30% 70%;

		&__info-box {
			text-align: left;
			z-index: 1;
		}

		&__showcase {
			display: flex;
			flex-direction: column;
		}

		&__image-info-overlay {
			padding: 1rem;
			margin: auto;
			width: 90%;
			position: relative;
			
			&--first {
				top: 2rem
			}

			&--second {
				order: 2;
				top: -2rem;
			}

			
		}


		@include respond-to('small') {
			align-items: center;
			display: grid;
			grid-template-columns: 30% 5% 65%;


			&__info-box {
				grid-column: 1/3;
				grid-row: 1/2;
			}

			&__showcase {
				display: grid;
				grid-template-rows: 1fr 1fr;
				grid-template-columns: 1fr 1fr;
				grid-column: 2/-1;
				grid-row: 1/-1;
			}

			&__image-info-overlay {
				margin: auto;
				padding: 1rem;
				grid-column: 1;
				opacity: 0.5;
				transition: opacity 250ms;
				animation: pulse 3000ms infinite;
				&--first {
					grid-column: 1;
					grid-row: 1;
				}

				&--second {
					grid-column: 2;
					grid-row: 2;
				}

				&:hover {
					opacity: 1;
					z-index: 10;
				}
				@keyframes pulse {

					0%,
					100% {
						transform: scale(1);
					}

					50% {
						transform: scale(1.1);
					}
				}

				&:hover {
					animation: none;
				}
			}

			&__image {

				z-index: -1;
				grid-row: 1/-1;
				grid-column: 1/-1;
			}
		}
	}

	.card-carousel {
		display: flex;
		padding: 1rem 0 1rem 0;
		overflow: auto;

		&__item {
			padding: 0.5rem;
			pointer-events: none;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			flex-shrink: 1;
			margin-right: 1rem;
			margin-left: 1rem;
			min-width: 200px;
			
			//max-width: 400px;

			
		}

		&__title {
			margin: 1rem;
			line-height: 1rem;

		}

		&__image {
			user-select: none;
		}

		&__button {
			cursor: pointer;
			pointer-events: auto;
			border: none;
			background-color: $color-secondary;
			color: white;
			font-size: 1.2rem;
			font-weight: bold;
			&:hover {
				background-color: white;
				color:$color-secondary;
				outline:2px solid $color-secondary
			}
		}
	}

}
