/* src/assets/styles/pages/_index.scss  */

.home-page {
  margin: 0;
  background-attachment: fixed;

  @include bg-image('/assets/images/logo.png');
}


/*
  Responsive
*/

@include media-breakpoint-down(sm) {
  margin: 1px;
}
