extends ./../layouts/base

block vars
  - title = 'About'
  - bodyClass = 'about-page'
  - currentUrl = 'about.html'

block content
  main(role="main").flex-shrink-0
    .container-fluid
      h1.page-title= title
      p Spider is the leading web development company based in Ho Chi Minh City, Vietnam.
      p Spider was founded in 2015, focuses on web development and IT outsourcing services for small businesses, startups and agencies in the USA, Europe, Singapore and Vietnam.
      p We specialize in building high-quality websites and applications using the latest web technologies including HTML, CSS, JavaScript, Node.js and PHP.
      p We follow W3C standards using the latest web coding standards and best practices including W3C compliance, semantic web, web accessibility, search engine optimization and mobile-friendly using responsive web design.
      p We believe in offering the most efficient, reliable and affordable web development solutions to our clients.
      p We guarantee to deliver clean and high-quality code, maintainable and extensible for future development.
      p We always strive to meet your demands beyond expectation.
