extends ./../layouts/base

block vars
  -title = 'News page'
  -bodyClass = 'news'

block content

  section.page.news-page
    h1.page-title News page
    a(href="/news/detail") This is a detail page