extends ./../layouts/base

block vars
  -title = 'News page'
  -bodyClass = 'news-page'
  -menuIndex = 2

block content

  section
    h1.page-title News page
    a(href="/news/detail") This is a detail page