extends ./../layouts/base


block vars
  - title = 'Service'
  - bodyClass = 'service-page'
  - currentUrl = 'service.html'

block content
  main(role="main").flex-shrink-0
    .container-fluid
      h1.page-title= title
      ul.list
        li: +link('Web Development', baseUrl + 'service.web-development.html')
        li: +link('IT Outsourcing', baseUrl + 'service.it-outsourcing.html')
