extends ./../layouts/base

block vars
  - title = 'IT Outsourcing'
  - bodyClass = 'detail-page'
  - currentUrl = 'service.html'

block content
  main(role="main").flex-shrink-0
    .container-fluid
      h1.page-title= title
      p We provide dedicated team services to ramp up your development team quickly and efficiently to meet your project deadlines or business needs.
