extends ./../layouts/base

block vars
  - title = 'Web Development'
  - bodyClass = 'detail-page'
  - currentUrl = 'service.html'

block content
  main(role="main").flex-shrink-0
    .container-fluid
      h1.page-title= title
      p Bootstrap is the most popular HTML, CSS, and JavaScript framework for developing responsive, mobile first projects on the web. We use Bootstrap for building frontend templates and React for building web applications.
      p We use the modern PHP frameworks to build custom web applications of all sizes and complexity. We mostly use Laravel to build web applications and RESTful web services. We build eCommerce websites using WordPress and WooCommerce.
      p We develop cross-platform desktop and mobile applications using the modern HTML, CSS and JavaScript technologies. We mostly use Electron to build desktop applications and React Native to build mobile applications.
      p JavaScript is everywhere. We use JavaScript on both client-side and server-side. We mostly use React to build web applications and Node.js to build the RESTful web services.
