mixin newsletter()
	.news-letter
		h3.news-letter__title Join our monthly newsletter
		.news-letter__info
			ul
				li Latest updates about new exhibits and events.
				li Coupns for day passes and DETE merchandise.
				li Access to virtual exhibits.
				li And more!
		.news-letter__form
			+singleForm('E-Mail','Join','E-mail Address')