extends ./layouts/base

block vars
  - title = 'Homepage'
  - bodyClass = 'home-page'
  - currentUrl = 'index.html'

block content
  main(role="main").flex-shrink-0
    .container-fluid
      h1.page-title= title
      p.lead A starter kit for frontend project using Webpack, Pug, Sass, Babel, Bootstrap, jQuery, Yarn and more.
      .carousel
        h5 Frontend Boilerplate
        h5 Bundler: Webpack
        h5 JS Compiler: Babel
        h5 CSS framework: Bootstrap
        h5 Templating: Pug
        h5 Styling: Sass
        h5 Scripting: jQuery or plain JavaScript
