extends ./layouts/base

block vars
  - title = 'Homepage'
  - bodyClass = 'home-page'
  - currentUrl = '/'

block content
  main(role="main").flex-shrink-0
    .container-fluid
      h1.page-title= name
      p.lead A starter kit for frontend project using Yarn, Webpack, Pug, Sass, Babel, Bootstrap, jQuery and more.
        