/* src/assets/styles/layout/_page.scss  */

.page-break {
	//background-image: url(../svg/hr.svg);
	border:none;
	height:5rem;
	width: 100%;
	opacity: .3;
	position: relative;
	top:-10rem;
	z-index: -1000;
	&.left {
		left:-30%;
	}

	&.right {
		right:-30%;
	}

	svg {
		overflow: visible;
		width: 100%;
		polyline {
			fill: none;
			stroke:$seafoam;
			stroke-width: 100px;
		}
	}

	@include respond-to('small') {
			height: 10rem;
			top:-5rem;
			&__img{
				position: relative;
			}
		}
}

/*
  Responsive
*/
// @include media-breakpoint-down(sm) {
// }
