/*
  Base
*/
@import './base/fonts';
@import './base/custom';

/*
  Bootstrap
*/
@import '~modules/bootstrap/scss/bootstrap';

/* 
  Libraries
*/
$slick-font-path: '~modules/slick-carousel/slick/fonts/' !default;
$slick-loader-path: '~modules/slick-carousel/slick/' !default;
$slick-arrow-color: $color !default;
@import '~modules/slick-carousel/slick/slick.scss';
@import '~modules/slick-carousel/slick/slick-theme.scss';

/*
  Utils
*/
@import './utils/mixins';

/*
  Components
*/
@import './components/header';
@import './components/footer';
@import './components/navbar';
@import './components/carousel';

/*
  Layout
*/
@import './layout/structure';
@import './layout/page';

/*
  Pages
*/
@import './pages/index';
@import './pages/about';
@import './pages/service';
@import './pages/contact';
