//- src/views/components/header.pug
include ../mixins/all

header.header
  nav(role="navigation")
    img(src="/assets/images/logo.png", width="35")
    a.brand Frontend Boilerplate
    +nav([{title: 'Home', href: '/'}, {title: 'List', href: '/list'}, {title: 'News', href: '/news'}, {title: 'Contact', href: '/contact'}])