nav.main-nav
	.main-nav__menu
		.hamburger.hamburger__arrow
			.hamburger__box
				.hamburger__inner
		.main-nav__hideaway
			a(href="/").main-nav__link 
				.main-nav__link-inner Home
			a(href="work").main-nav__link 
				.main-nav__link-inner Work
			a(href="about").main-nav__link 
				.main-nav__link-inner About 
			a(href="contact").main-nav__link 
				.main-nav__link-inner Contact
				
